.episode {
  &__wrap {
    z-index: 1;
    position: relative;
    overflow: hidden;
    border-radius: 38px;
    height: 435px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff
  }

  &__review {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    padding: 24px 0 0 32px
  }

  &__stars {
    display: flex;
    align-items: center;
    color: #15172A;
    background: linear-gradient(266.92deg, #7CAEF5 6.31%, #BBB8F7 91.68%);
    backdrop-filter: blur(21px);
    border-radius: 12px;
    padding: 6px 7px 5px;
    margin-right: 9px;

    svg {
      position: relative;
      top: -1px;
      display: block;
      width: 14px;
      height: 14px;
    }

    span {
      font-size: 14px;
      line-height: 1.4;
      margin-left: 5px;
    }
  }

  &__ratings {
    font-size: 15px;
    line-height: 21px;
  }

  &__share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    padding: 24px 32px 0 0
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;

    &-icon {
      width: 69px;
      height: 69px;
      margin-bottom: 11px;
      transition: .3s;
    }

    &-title {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      font-family: "RFDewiExtended";
    }

    &:hover {
      .episode {
        &__play {
          &-icon {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  &__viewed {
    font-size: 13px;
    line-height: 1.25;
    font-weight: 500;
    color: #E2E8F1;
    margin-top: 15px;
    font-family: "RFDewiExtended";
  }

  &__timeline {
    position: relative;
    width: 100%;
    max-width: 215px;
    height: 3px;
    margin-top: 9px;
    border-radius: 50px;
    background: #E2E8F1;
    overflow: hidden;

    &-bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background: linear-gradient(266.92deg, #7CAEF5 6.31%, #BBB8F7 91.68%);
    }
  }

  &__poster {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      opacity: 0.7;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #282D49;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-top: 24px;

    font-family: "RFDewiExtended";
  }

  &__desc {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
  }

  &__chapter {
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 111.2%;
    letter-spacing: -0.02em;
    background: linear-gradient(266.92deg, #6395F8 6.31%, #B68FFF 91.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__time {
    font-weight: 600;
    font-size: 14px;
    line-height: 111.2%;
    color: #344463;

  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 111.2%;
    color: #344463;
    font-family: "RFDewiExtended";
  }

  &__lock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 56px;
      height: 56px;
      border: 1px solid #E2E8F180;
      border-radius: 50%;
      margin-bottom: 5px;
    }

    &-title {
      max-width: 220px;
      font-size: 15px;
      line-height: 130.3%;
      font-family: "RFDewiExtended";
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__repeat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: #E2E8F1;
    }

    &-title {
      margin-top: 9px;
      display: flex;
      align-items: center;
      margin-left: 14px;
      border-bottom: 1px solid transparent;
      transition: .3s;
      cursor: pointer;

      &:hover {
        border-color: #fff;
      }

      span {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #E2E8F1;
        font-family: "RFDewiExtended";
      }

      svg {
        margin-left: 8px;
      }
    }
  }

  &__feedback {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 10px 32px;
    background: rgba(243, 247, 252, 0.51);
    backdrop-filter: blur(20px);

    &-title {
      color: #000000;
      text-align: center;
      margin-bottom: 10px;
    }

    &-list {
      display: flex;
      justify-content: center;
      margin-left: -3.5px;
      margin-right: -3.5px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 37px;
      font-size: 17px;
      line-height: 138.34%;
      color: #000;
      background: #FFFFFF;
      border-radius: 8px;
      margin-left: 3.5px;
      margin-right: 3.5px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background: #e2e2e2;
      }

      &.--red {
        background: #DF8E8E;
      }

      &.--red-light {
        background: #E8A6A6;
      }

      &.--orange {
        background: #D8B788;
      }

      &.--orange-light {
        background: #E8CDA6;
      }

      &.--green {
        background: #A1CC97;
      }

      &.--green-light {
        background: #C4E0BD;
      }
    }
  }

  &.--lock {
    .episode {
      &__poster {
        filter: blur(10px);
        transform: scale(1.1);
      }
    }
  }

  &.--viewed {
    .episode {
      &__poster {
        &:before {
          opacity: 0.85;
          background: #9597A5;
        }
      }
    }
  }
}

.share {

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 30.5px;
  }

  &__btn {
    cursor: pointer;

    svg {
      margin-right: 8px;
      position: relative;
      top: 1px;
    }

    span {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      font-family: "RFDewiExtended";
    }
  }

  &__list {
    opacity: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 34px;
    right: 0;
    padding: 22px 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);
    border-radius: 14px;
    transition: .3s;
    visibility: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 24px;

    path {
      transition: .3s;
    }

    &:hover {
      path {
        fill: #D71300
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.--show {
    .share {
      &__list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 767.9px) {
  .episode {
    &__info {
      padding-top: 14px;
    }
  }
}

@media (max-width: 575.9px) {
  .episode {
    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 475.9px) {
  .episode {
    &__wrap {
      height: 370px;
    }

    &__feedback {
      display: none;
    }
  }
}

@media (max-width: 430px) {
  .episode {
    &__wrap {
      height: 340px;
    }

    &__share {
      display: none;
    }
  }
}

@media (max-width: 370px) {
  .episode {
    &__wrap {
      height: 290px;
    }

    &__review {
      width: 100%;
      padding-left: 15px;
      padding-top: 15px;
    }

    &__title {
      font-size: 18px;
    }
  }
}