@import "@/assets/styles/vars.scss";

.water {
  padding: 71px 0;

  &_top {
    font-size: 47px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.01em;
    margin-bottom: 44px;
  }

  &_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 0px;
  }

  &_img {
    width: 45%;

    img {
      max-width: 100%;
    }
  }

  &_text {
    width: 45%;
    margin-right: 4%;
    font-size: 18px;
    line-height: 1.5;
    font-family: $os;
  }
}

@media (max-width: 1199.90px) {
  .water {
    &_top {
      font-size: 42px;
    }
  }
}


@media (max-width: 991.90px) {
  .water {
    &_top {
      font-size: 36px;
    }
  }
}

@media (max-width: 767.90px) {
  .water {
    &_top {
      font-size: 32px;
    }

    &_wrapper {
      flex-direction: column;
      justify-content: flex-start;
    }

    &_img {
      width: 70%;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    &_text {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media (max-width: 575.90px) {
  .water {
    padding-top: 11px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 7px;

    &_top {
      font-size: 23px;
      margin-bottom: 30px;
      line-height: 1.33;
    }

    &_img {
      width: 100%;
      margin-bottom: 34px;

      img {
        height: 310px;
      }
    }

    &_text {
      font-size: 16px;
    }
  }
}